* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body, html, #app {
  width: 100%;
  height: 100%; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-bottom: 1px solid #F3F3F3;
  background: #f2f2f2; }
  footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    footer ul li {
      padding-top: 5px; }
      footer ul li a {
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        text-align: center; }
      footer ul li img {
        width: 22px;
        height: 25px; }
      footer ul li P {
        font-size: 11px;
        text-align: center; }
      footer ul li p:hover {
        color: #00ccab; }

.conten_view {
  width: 100%;
  height: 700px;
  overflow: auto; }

.wd_one {
  width: 100%; }
  .wd_one .header {
    width: 100%;
    height: 50px;
    background: #20bead;
    display: flex;
    justify-content: space-between; }
    .wd_one .header img:nth-of-type(1) {
      width: 25px;
      height: 25px;
      margin-top: 20px;
      margin-left: 10px; }
    .wd_one .header img:nth-of-type(2) {
      width: 30px;
      height: 30px;
      margin-left: 8px; }
  .wd_one .nav {
    width: 100%;
    height: 100px;
    background: #20BEAD;
    margin-top: -1px;
    display: flex;
    justify-content: space-between; }
    .wd_one .nav div:nth-of-type(1) img {
      width: 70px;
      height: 70px; }
    .wd_one .nav div:nth-of-type(2) span {
      color: white;
      line-height: 50px;
      margin-left: -65px;
      font-size: 20px; }
    .wd_one .nav div:nth-of-type(2) ul {
      display: flex;
      margin-left: -65px;
      margin-top: -15px; }
      .wd_one .nav div:nth-of-type(2) ul li:nth-of-type(1) {
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        height: 20px;
        width: 85px;
        margin-top: 8px;
        text-align: center;
        color: white; }
      .wd_one .nav div:nth-of-type(2) ul li:nth-of-type(2) {
        width: 60px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
        height: 20px;
        line-height: 20px;
        margin-top: 9px;
        color: white;
        margin-left: 10px; }
    .wd_one .nav div:nth-of-type(3) {
      line-height: 100px; }
  .wd_one .wd-sec {
    width: 100%;
    height: 80px; }
    .wd_one .wd-sec ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .wd_one .wd-sec ul li {
        margin-top: 15px; }
        .wd_one .wd-sec ul li img {
          width: 40px;
          height: 40px; }
        .wd_one .wd-sec ul li p {
          font-size: 14px; }
  .wd_one .p1 {
    width: 100%;
    border-bottom: 10px solid #edeeed; }
  .wd_one article {
    width: 100%;
    height: 100px; }
    .wd_one article ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .wd_one article ul li {
        margin-top: 20px; }
        .wd_one article ul li img {
          width: 40px;
          height: 30px; }
        .wd_one article ul li P:nth-of-type(1) {
          font-size: 14px; }
        .wd_one article ul li p:nth-of-type(2) {
          font-size: 11px;
          margin-top: 5px;
          color: #c5c5c5; }
  .wd_one .gj {
    height: 245px;
    overflow: hidden; }
    .wd_one .gj .item {
      width: 100%; }
      .wd_one .gj .item .d1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #f3f3f3; }
        .wd_one .gj .item .d1 span:nth-of-type(1) {
          font-size: 16px;
          color: #262626;
          margin-left: 20px; }
        .wd_one .gj .item .d1 span:nth-of-type(3) {
          font-size: 13px; }
      .wd_one .gj .item .d2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #F3F3F3; }
        .wd_one .gj .item .d2 span:nth-of-type(1) {
          font-size: 16px;
          color: #262626;
          margin-left: 20px; }
      .wd_one .gj .item .d3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #F3F3F3; }
        .wd_one .gj .item .d3 span:nth-of-type(1) {
          font-size: 16px;
          color: #262626;
          margin-left: 20px; }
      .wd_one .gj .item .d4 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #f3f3f3; }
        .wd_one .gj .item .d4 span:nth-of-type(1) {
          font-size: 16px;
          color: #262626;
          margin-left: 20px; }
        .wd_one .gj .item .d4 span:nth-of-type(3) {
          font-size: 13px; }
      .wd_one .gj .item .d5 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #f3f3f3; }
        .wd_one .gj .item .d5 span:nth-of-type(1) {
          font-size: 16px;
          color: #262626;
          margin-left: 20px; }
        .wd_one .gj .item .d5 span:nth-of-type(3) {
          font-size: 13px; }
      .wd_one .gj .item .d6 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #F3F3F3; }
        .wd_one .gj .item .d6 span:nth-of-type(1) {
          font-size: 16px;
          color: #262626;
          margin-left: 20px; }
  .wd_one .d3_item {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between; }
    .wd_one .d3_item span:nth-of-type(1) {
      margin-top: 8px;
      margin-left: 20px; }
      .wd_one .d3_item span:nth-of-type(1) img {
        width: 50px;
        height: 50px; }
    .wd_one .d3_item span:nth-of-type(2) {
      color: #5077c3;
      font-size: 18px;
      line-height: 70px;
      margin-left: -140px; }
    .wd_one .d3_item span:nth-of-type(3) {
      line-height: 70px;
      font-size: 13px;
      margin-right: 20px; }

.head-stair {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee; }
  .head-stair li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 0.3rem; }

.route-second {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.55rem 0.875rem; }
  .route-second li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #eee;
    font-size: 1.8rem; }

.route-img {
  width: 100%;
  height: 30rem;
  background: #EDF0F5; }
  .route-img img {
    width: 100%; }
  .route-img > p {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto; }
  .route-img div {
    width: 100%;
    display: flex;
    justify-content: center; }
    .route-img div > p {
      width: 11.735rem;
      height: 2.85rem;
      text-align: center;
      line-height: 2.85rem;
      background: white;
      margin-top: 3.25rem;
      border-radius: 15px;
      font-size: 0.575rem; }

.route-list {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem; }
  .route-list li:nth-of-type(2) {
    font-size: 0.7rem; }
  .route-list li:nth-of-type(3) {
    font-size: 0.5rem; }

.rout-list1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.5rem; }
  .rout-list1 li {
    width: 30%;
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    border: 1px solid #eee;
    margin-top: 1.5rem; }
    .rout-list1 li span:nth-of-type(2) {
      color: red; }

.two-search {
  position: absolute;
  top: 0.625rem;
  left: 14.35rem; }
  .two-search span {
    font-size: 0.75rem; }

.box-two {
  width: 100%;
  background: #3163aa;
  color: white;
  padding: 1rem; }
  .box-two ul {
    margin-top: 1rem; }
  .box-two ul:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem; }
    .box-two ul:nth-of-type(1) li:nth-of-type(1) {
      margin-left: 1.25rem; }
    .box-two ul:nth-of-type(1) li:nth-of-type(2) {
      margin-left: 10rem;
      width: 4.25rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      border-radius: 15px;
      background: #6f9cc6; }
  .box-two ul:nth-of-type(2) {
    display: flex;
    font-size: 1.2rem; }
    .box-two ul:nth-of-type(2) li:nth-of-type(1) {
      margin-left: 1.25rem; }
  .box-two ul:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem; }
    .box-two ul:nth-of-type(3) li:nth-of-type(1) {
      margin-left: 1.25rem; }
    .box-two ul:nth-of-type(3) li:nth-of-type(2) {
      margin-left: 9.5rem;
      width: 2.25rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      font-size: 1.2rem; }

.box-three {
  width: 100%;
  height: 45rem;
  background: #edf2f5; }
  .box-three img {
    width: 100%; }
  .box-three ul {
    display: flex;
    justify-content: center;
    font-size: 0.5rem; }

.zjq-footer {
  z-index: 9999;
  position: fixed;
  bottom: -1rem;
  left: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  background: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ececec; }
  .zjq-footer li {
    width: 20%;
    height: 100%; }
    .zjq-footer li a {
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 5rem;
      color: darkgray; }
  .zjq-footer .router-link-active {
    color: deepskyblue; }

.zjq-routerChild {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4.2rem;
  background: #20bdac;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .zjq-routerChild li {
    width: 30%;
    height: 100%;
    line-height: 4.2rem;
    text-align: center; }
    .zjq-routerChild li a {
      display: inline-block;
      text-decoration: none;
      width: 70%;
      height: 100%;
      color: white;
      font-weight: 600; }
  .zjq-routerChild li:nth-child(3) {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20%; }
    .zjq-routerChild li:nth-child(3) img {
      width: 70%;
      height: 60%; }
  .zjq-routerChild .router-link-active {
    border-bottom: 0.3rem solid white; }

.zjq-inp {
  width: 100%;
  height: 4.1rem;
  background: #edf2f6;
  display: flex;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 1rem;
  padding-bottom: 0.6rem; }
  .zjq-inp input {
    flex: 1;
    border-radius: 1.2rem 1.2rem;
    border: none;
    text-align: center; }

.zjq-rout {
  width: 100%;
  position: absolute;
  top: 4.2rem;
  left: 0;
  right: 0;
  bottom: 5rem; }

.zjq-redate {
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.3rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid #eee; }
  .zjq-redate div:nth-child(1) {
    width: 40%;
    height: 50%;
    display: flex;
    align-items: center;
    color: #b0b0b0;
    font-weight: 400; }
    .zjq-redate div:nth-child(1) img {
      width: 20%;
      height: 100%; }
  .zjq-redate div:nth-child(2) {
    color: #cfcfcf;
    font-size: 1.8rem; }

.zjq-nav {
  width: 100%; }
  .zjq-nav > div:nth-child(1) {
    width: 100%;
    height: 5.4rem;
    line-height: 5.4rem;
    color: #7d7d7d;
    font-weight: 300;
    padding-left: 1.5rem; }
  .zjq-nav > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border-bottom: 1rem solid #efedf8; }
    .zjq-nav > ul li {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.9rem;
      font-weight: 800;
      color: #666; }
      .zjq-nav > ul li img {
        width: 3.5rem; }

.zjq-bot {
  width: 100%;
  height: 4.8rem;
  text-align: center;
  line-height: 4rem;
  border-left: 1rem solid #edf2f5;
  border-right: 1rem solid #edf2f5;
  border-bottom: 1rem solid #edf2f5; }

.zjq-both {
  width: 100%;
  height: 4rem; }

.zjq-serve {
  padding-bottom: 1rem;
  padding-top: 2.7rem;
  padding-right: 1.5rem;
  padding-left: 1.7rem;
  border-bottom: 1rem solid #e5e9f2;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.zjq-serve1 {
  padding-bottom: 1rem;
  padding-top: 2.7rem;
  padding-right: 1.5rem;
  padding-left: 1.7rem;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.zjq-serleft {
  width: 60%;
  display: flex; }
  .zjq-serleft img {
    width: 2.4rem;
    height: 1.1rem; }
  .zjq-serleft div p {
    margin-bottom: 0.5rem; }

.zjq-serright p {
  text-align: right;
  margin-bottom: 0.2rem; }

.zjq-big {
  font-size: 1.4rem;
  font-weight: 900; }

.zjq-green {
  color: #91d4a9;
  font-size: 1rem; }
  .zjq-green span {
    display: inline-block;
    border-radius: 0.1rem 0.1rem;
    border: 1px solid #91d4a9; }

.zjq-hui {
  color: #afafaf;
  font-size: 1rem; }

.zjq-skip {
  width: 100%;
  display: inline-block;
  color: deepskyblue;
  padding-bottom: 0.5rem;
  padding-left: 4.6rem; }

/*# sourceMappingURL=tongchenglvyou.css.map */
